/* This is empty CSS file intended to be overwritten by user's custom CSS file */
.home {
    color: #c2ab27;
}
.home img {
    background-color: #ffffff;
}

.initial-navbar .navbar-brand {
    color: #052159;
    font-weight: 600;
  }
  
  .initial-navbar li a {
    color: #1c2d41;;
  }
  .initial-navbar .navbar-nav .active,
  .initial-navbar li a:hover {
    color: #f802fd;
    transition: all 0.3s ease-out;
  }

/* ============= Device specific fixes ======= */

/* Large screens such as TV */
@media only screen and (min-width: 1824px) {
}

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

/* IPad Pro */
@media (max-width: 1024px) {
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
}

/* iPhoneX, iPhone 6,7,8 */
@media only screen and (max-width: 375px) {
}

/* Galaxy S5, Moto G4 */
@media only screen and (max-width: 360px) {
}

/* iPhone 5 or before */
@media only screen and (max-width: 320px) {
}
